@model Project.Models.Category

@{
    ViewData["Title"] = "Category Details";
}

<div class="container">
    <h1>Category Details</h1>

    <div>
        <h4>Category Information</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>
            <dd class="col-sm-10">
                @Model.CreatedAt.ToString("g")
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </dt>
            <dd class="col-sm-10">
                @(Model.UpdatedAt?.ToString("g") ?? "Not updated")
            </dd>
        </dl>
    </div>

    <div class="mt-4">
        <a asp-action="Edit" asp-route-id="@Model.CategoryId" class="btn btn-warning">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.CategoryId" class="btn btn-danger">Delete</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div> 