@model IEnumerable<Product>

<div class="row">
    @foreach (var product in Model) {

        <div class="col-lg-4 col-md-6 col-12">
            <!-- Start Single Product -->
            <div class="single-product" style="height: 420px">
                <div class="product-image">
                    @if (product.Images!.Any()) {
                        <img
                            src="@product.Images!.First().ImagePath"
                            class="card-img-top"
                            alt="@product.Name"
                            style="height: 200px; width: 500px; object-fit: contain" />
                    } else {
                    <img
                            src="/images/post-thumb-1.jpg"
                            class="card-img-top"
                            alt="@product.Name"
                            style="height: 200px; width: 500px; object-fit: contain" />
                    }
                    <div class="button">
                        <a class="btn" onclick="addToCart(@product.ProductId)"><i
                                class="lni lni-cart"></i> Add to Cart</a>
                    </div>
                </div>
                <div class="product-info">
                    <span class="category">@product.Category!.Name</span>
                    <h4 class="title">
                        <a asp-action="Details"
                            asp-route-id="@product.ProductId">@product.Name</a>
                    </h4>
                    <ul class="review">
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star-filled"></i></li>
                        <li><i class="lni lni-star"></i></li>
                        <li><span>4.0 Review(s)</span></li>
                    </ul>
                    <div class="price">
                        <span>@product.Price EGP</span>
                    </div>
                </div>
            </div>
            <!-- End Single Product -->
        </div>
    }
</div>
